<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Retroalimantación evaluaciones</title>
</head>
<body>
<style type="text/css">
p, li{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 13px;
}
td{
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 13px;

	}
</style>

<table border="0" cellpadding="10" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" style="background-color: rgb(231, 231, 231);">
			<font face="arial,helvetica" size="1" color="#e7e7e7">Retroalimentación de evaluación.</font>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td colspan="2" style="height: 18px;"><font face="arial,helvetica" size="2"><img alt="Duoc UC" src="https://staticcl1.fidelizador.com/duocuc/2021/agosto/semana-4/header-tracking.png" width="600"></font></td>
						</tr>
						
						<tr>
							<td align="center" colspan="2" style="border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); background-color: rgb(255, 255, 255);"><table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
							  <tbody>
							    <tr>
							      <td><font face="arial,helvetica" size="2">&nbsp;</font></td>
						        </tr>
							    <tr>
							      <td align="left" style="height: 150px;"><p><strong>Estimado(a) [docente]</strong></p>
							        <p>El archivo adjunto corresponde al informe de retroalimentación de la evaluación [evaluacion] de la sección [seccion].</p>
							        
									<p>Si no ve correrctamente el informe en su dispositivo, intente revisarlo desde chrome o edge y preferiblemente desde un computador</p>
							        <p>Para ver correctamente el informe desde gmail debe descargar el archivo primero y luego abrirlo en el navegador (ver imagen).</p>
									<a><img src='https://sudcra.github.io/sudcraImagenes/descarga_informe.png' border='0' alt='descarga-informe'/></a>
									<p>Saludos cordiales,</p>
							        <p><strong>[programa]</strong><br>
						          Duoc UC</p></td>
						        </tr>
						      </tbody>
						    </table></td>
						</tr>
						<tr>
							<td align="center" colspan="2" style="border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); background-color: rgb(255, 255, 255);"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
						<tr>
							<td align="center" colspan="2" valign="middle" style="background-color: rgb(152, 152, 152);">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
									<tbody>
										<tr>
											<td align="left" style="height: 50px;">
												<p><font face="arial,helvetica" size="2"><font face="arial,helvetica" size="2"><font color="#ffffff" face="Trebuchet MS, Arial, Helvetica, sans-serif">Duoc UC - Av.</font></font> <font color="#ffffff" face="Trebuchet MS, Arial, Helvetica, sans-serif" size="2">Eliodoro Y&aacute;&ntilde;ez 1595 - Providencia - Santiago.<br>
													+56 2 2354 0000 </font></font></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="background-color: rgb(123, 123, 123); height: 6px;"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
						<tr>
							<td align="right" style="width: 400px;"><font face="arial,helvetica" size="2"><font color="#333333" face="Arial, Helvetica, sans-serif" size="1">Desarrollado por equipo SUDCRA</font></font></td>
							
						</tr>
						<tr>
							<td colspan="2"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
  </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>
