<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Retroalimantación evaluaciones</title>
</head>
<body>
<style type="text/css">
p, li{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 13px;
}
td{
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 13px;

	}
</style>

<table border="0" cellpadding="10" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" style="background-color: rgb(231, 231, 231);">
			<font face="arial,helvetica" size="1" color="#e7e7e7">Error de lectura</font>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td colspan="2" style="height: 18px;"><font face="arial,helvetica" size="2"><img alt="Duoc UC" src="https://staticcl1.fidelizador.com/duocuc/2021/agosto/semana-4/header-tracking.png" width="600"></font></td>
						</tr>
						
						<tr>
							<td align="center" colspan="2" style="border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); background-color: rgb(255, 255, 255);"><table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
							  <tbody>
							    <tr>
							      <td><font face="arial,helvetica" size="2">&nbsp;</font></td>
						        </tr>
							    <tr>
							      <td align="left" style="height: 250px;"><p><strong>Estimado(a) [docente]</strong></p>
								  <p>Le informamos que la siguiente hoja de respuestas correspondiente a la evaluación [evaluacion] de la secci&oacute;n [seccion] no fue procesada debido a [tipo]</p>

							        <table width="500" border="0" cellspacing="0" cellpadding="0">
							          <tbody>
							            <tr>
							              
							              <td style="width: 468px;"><strong><a href="[link]">ver imagen</a></strong></td>
						                </tr>
						              </tbody>
						            </table>
									<p>Detalle de lectura:</p>
									<p></p>
									<style type="text/css">
										.tg  {border-collapse:collapse;border-spacing:0;}
										.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
										  overflow:hidden;padding:10px 5px;word-break:normal;}
										.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
										  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
										.tg .tg-4p2q{background-color:#efefef;border-color:inherit;font-size:100%;font-weight:bold;text-align:left;vertical-align:top}
										.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
										</style>
										<table class="tg">
										<thead>
										  <tr>
											<th class="tg-4p2q">Nombre registro</th>
											<th class="tg-4p2q">leido</th>
											<th class="tg-4p2q">estado</th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											<td class="tg-0pky">Imagen</td>
											<td class="tg-0pky">[imagen]</td>
											<td class="tg-0pky">[estado_imag]</td>
										  </tr>
										  <tr>
											<td class="tg-0pky">Rut</td>
											<td class="tg-0pky">[rut]</td>
											<td class="tg-0pky">[estadorut]</td>
										  </tr>
										  <tr>
											<td class="tg-0pky">Asignatura</td>
											<td class="tg-0pky">[cod_asig]</td>
											<td class="tg-0pky">[estado_asig]</td>
										  </tr>
										  <tr>
											<td class="tg-0pky">Prueba</td>
											<td class="tg-0pky">[prueba]</td>
											<td class="tg-0pky">[estado_prueba]</td>
										  </tr>
										  <tr>
											<td class="tg-0pky">Forma</td>
											<td class="tg-0pky">[forma]</td>
											<td class="tg-0pky">[estado_forma] </td>
										  </tr>
										</tbody>
										</table>
								<p>El error de imagen "No identificada" se produce cuando el software que la transforma a datos no la reconoce hoja de respuestas correspondiente al proceso, las razones más frecuentes son:</p>
									<ul>
											<li>Hoja escaneada con un perfíl de escaneo erroneo.</li>
											<li>Hoja escaneada al revés.</li>
											<li>Marcas de reconocimiento de la hoja borradas o alteradas.</li>
											<li>Manchas introdicidas en la imagen por suciedad o mal funcionamiento del escaner.</li>
											
									</ul>
							   <p>El procedimiento en estos casos es corregir de acuerdo al error indicado y volver a escanear.</p>		
							        <p>Saludos cordiales,</p>
							        <p><strong>Equipo de evaluaciones transversales</strong><br>
						          Duoc UC</p></td>
						        </tr>
						      </tbody>
						    </table></td>
						</tr>
						<tr>
							<td align="center" colspan="2" style="border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); background-color: rgb(255, 255, 255);"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
						<tr>
							<td align="center" colspan="2" valign="middle" style="background-color: rgb(152, 152, 152);">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="550">
									<tbody>
										<tr>
											<td align="left" style="height: 50px;">
												<p><font face="arial,helvetica" size="2"><font face="arial,helvetica" size="2"><font color="#ffffff" face="Trebuchet MS, Arial, Helvetica, sans-serif">Duoc UC - Av.</font></font> <font color="#ffffff" face="Trebuchet MS, Arial, Helvetica, sans-serif" size="2">Eliodoro Y&aacute;&ntilde;ez 1595 - Providencia - Santiago.<br>
													+56 2 2354 0000 </font></font></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="background-color: rgb(123, 123, 123); height: 6px;"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
						<tr>
							<td align="right" style="width: 400px;"><font face="arial,helvetica" size="2"><font color="#333333" face="Arial, Helvetica, sans-serif" size="1">Desarrollado por equipo SUDCRA</font></font></td>
							<td align="right" style="width: 200px;"><font face="arial,helvetica" size="2"><a href="http://www.duoc.cl/" target="_blank"><img alt="Duoc UC"  src="http://proglenguaje.duoc.cl/pie.png" width="200" style="border-width: 0px; border-style: solid;"></a></font></td>
						</tr>
						<tr>
							<td colspan="2"><font face="arial,helvetica" size="2">&nbsp;</font></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
  </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>
